.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.armor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.armor-item img {
  width: 125px;
  height: 150px;
}
.armor-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  padding: 50px;
  margin: 10px;
  align-items: center;
  text-align: left;
}

.job-list {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.job-item {
  width: 200px;
  border: solid 2px;
  margin: 10px;
  padding: 20px;
  
}

.weapon-list {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.weapon-item {
  width: 200px;
  margin: 10px;
  padding: 20px;
  
}

.spell-list {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.spell-item {
  width: 200px;
  margin: 10px;
  padding: 20px;
  
}